<h1>Wiki Maps</h1>

<% if(username){ %>
  <%= username %>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  <% } else { %>
    <p><a href="/login">Login </a>or<a href="/register">Register</a></p>
  <% }; %>
