
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Maps</title>
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/createmaps.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/maps.css" />
  </head>
  <body>
    <h1>Wiki Maps</h1>
        <div id="map"></div>
      <br>
        <form action="/createmaps" method="POST" >
          <label for="mapname">Enter Map Name</label>
          <br>
          <input id="mapname" name="mapname" placeholder="Map Name" >
          <Button type="submit" value="submit">Submit</Button>
        </form>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfGLhbGp_NKsXKsWXDG2eAhelTgNmmAx4&callback=initMap"
    async defer></script>
  </body>
</html>
