<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Maps</title>
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfGLhbGp_NKsXKsWXDG2eAhelTgNmmAx4&callback=initMap"
    async defer></script>
    <link rel="stylesheet" type="text/css" href="maps.css" />
    <script type="text/javascript">
window.onload = function () {
    var mapOptions = {
        center: new google.maps.LatLng(43.65432, -79.38347),
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);

    //Attach click event handler to the map.
    google.maps.event.addListener(map, 'click', function (e) {

        //Determine the location where the user has clicked.
        var location = e.latLng;

        //Create a marker and placed it on the map.
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        //Attach click event handler to the marker.
        google.maps.event.addListener(marker, "click", function (e) {

            var infoWindow = new google.maps.InfoWindow({

                content:
                '<p>Name: '+location.lat()+'</p>' +
                '<p>Description: '+location.lng()+'</p>' +
                '<button onclick="myFunction()">Update</button>'

            });

            infoWindow.open(map, marker);
        });
    });
};
</script>
  </head>
  <body>
    <h1>Wiki Maps</h1>
    <div class="row">
      <div class="span11">
        <div id="map"></div>
      </div>
      <div class="span6">
        <br>
        <br>
        <form action="/createmaps" method="POST" >
          <label for="mapname">Enter Map Name</label>
          <br>
          <input id="mapname" name="mapname" placeholder="Map Name" >
          <Button type="submit" value="submit">Submit</Button>
        </form>

      </div>
    </div>
  </body>
</html>
