
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
   <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/createmaps.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/maps.css" />
  </head>
  <body>
   <header>
      <% include ./partials/header %>
    </header>
        <div id="map" class=halfmap></div>
      <br>
        <form class="map-info" action="/maps" method="POST" >
          <label for="mapname">Enter Map Name</label>
          <br>
          <input id="mapname" name="mapname" placeholder="Map Name" >
          <Button type="submit" value="submit">Submit</Button>
        </form>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfGLhbGp_NKsXKsWXDG2eAhelTgNmmAx4&callback=initMap"
    async defer></script>
  </body>
</html>
