<!DOCTYPE html>
<html lang="en">
  <head><h2>Please Login Here</h2></head>
   <br>
   <body style="background-color:rgb(231, 227, 227);">
    <form action="/login" method="POST" >

      <label for="email">Email ID</label>
      <br>
      <input id="email" type="email" name="email" placeholder="email@email.com" >
      <br><br>
      <label for="password">Password</label>
      <br>
      <input id="password" type="password" name="password" placeholder="password">
      <br><br>
      <Button type="Submit" value="Login">Login</Button>
     
    </form>
<h3> New User??? Please Register <a href="/register"> Here</a> </h3>
  </body>
</html>