<!DOCTYPE html>
<html lang="en">
  <head><h2>Please Register Here</h2></head>
  <body style="background-color:rgb(231, 227, 227);">

    <form action="/register" method="POST" >

      <label for="email">Email ID</label>
      <br>
      <input id="email" type="email" name="email" placeholder="email@email.com" >
      <br><br>
      <label for="email">User Name</label>
      <br>
      <input id="username" type="username" name="username" placeholder="name" >
      <br><br>
      <label for="password">Password</label>
      <br>
      <input id="password" type="password" name="password" placeholder="Enter your password">
      <br><br>
      <Button type="submit" value="submit">Submit</Button>
    </form>

  </body>
</html>